.content-title-main {
    h2 {
        font-size: 1.250rem;
    }
}


.social-media {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-cv-content {
    margin-top: 2rem;
}

.singular-social-media {
    width: 48px;
    height: 48px;
    background-color: #dddddd31;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    &:hover {
        background-color: #0c1825;
    }
    i {
        font-size: 22px;
    }
}


@media(min-width: 1200px) {
    .content-title-main {
        h2 {
            font-size: 3rem;
        }
    }
}


